<h1>Find Your Tiny Key to Sucess</h1>
<hr>
<nav>
  <%if session[:current_user_name]%>
  Logged in as <%= session[:current_user_name]%><br />
  <a href="/properties/new">Add a listing</a><br />
  <%end%>
  <% if session[:current_user_id]%>
  <a href="/users/<%=session[:current_user_id]%>">Edit Profile</a><br />
  <a href="/logout">Logout</a><br />
  <%else%>
  <a href="/users">Login/Register</a><br />
  <%end %>
</nav>
<form class="" action="index.html" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="search_property" value="">
  <input type="submit" name="" value="Search">
</form>
<br><br>
<h3>Current Listings</h3>
<table border="1", cellpadding="10">
  <tr>
    <th>Address</th>
    <th>Zip Code</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>Description</th>
    <th>Price</th>
    <th>Rent?</th>
    <th>Square Footage</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>
  <% @properties.each do |p| %>
  <tr>
    <td><%= p.address %></td>
    <td><%= p.zipcode %></td>
    <td><%= p.bedrooms %></td>
    <td><%= p.bathrooms %></td>
    <td><%= p.description %></td>
    <td>$<%= p.price %></td>
    <td><%= p.rent %></td>
    <td><%= p.sq_ft %> ft.</td>
    <td><%= p.latitude %></td>
    <td><%= p.longitude %></td>
    <td>
      <a href="/properties/<%= p.id %>/show">View</a>
      <p>
      <a href="/properties/<%= p.id %>">Edit Listing</a>
      </p>
      <p>
      <a href="/properties/<%= p.id %>/delete" data-method="delete">Delete</a></p>
    </td>
  </tr>
  <% end %>
</table>
