<h1 id="heading">Find Your Tiny Key to Sucess</h1>
<div class="form-group_search">
  <form  action="index.html" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="form-control input-lg" id="searchbar" type="text" name="search_property" placeholder="Enter Address or Zip Code">
    <input class="searchb" type="submit" name="" value="Search">
  </form>
</div>
<div id="listings">
    <h3>Current Listings</h3>
    <table border="1", cellpadding="10", table bordercolor="black">
      <tr>
        <th>Address</th>
        <th>Zip Code</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rent?</th>
        <th>Square Footage</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
      </tr>
      <% @properties.each do |p| %>
      <tr>
        <td><%= p.address %></td>
        <td><%= p.zipcode %></td>
        <td><%= p.bedrooms %></td>
        <td><%= p.bathrooms %></td>
        <td><%= p.description %></td>
        <td>$<%= p.price %></td>
        <td><%= p.rent %></td>
        <td><%= p.sq_ft %> ft.</td>
        <td><%= p.latitude %></td>
        <td><%= p.longitude %></td>
        <td>
          <a href="/properties/<%= p.id %>/show">View</a>
          <p>
          <% if session[:current_user_id] %>
          <% if @user.agent && @user.id == p.user_id %>
          <a href="/properties/<%= p.id %>">Edit Listing</a>
          <% end %>
          <% end %>
          </p>
          <p>
          <% if session[:current_user_id] %>
          <% if @user.agent && @user.id == p.user_id %>
          <a href="/properties/<%= p.id %>/delete" data-method="delete">Delete</a></p>
          <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
