<h1 id="heading">Find Your Tiny Key To Happiness</h1>
<div id="design"><p> _______________ <img id="logomid" src="/assets/twillow.png"> ______________</p></div>
<div id="listings">
    <h3 id="main">Current Listings</h3>
    <table class="table table-hover table-striped table-inverse">
      <tr>
        <th>Address</th>
        <th>Zip Code</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rent?</th>
        <th>Square Footage</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
      </tr>
      <% @properties.each do |p| %>
      <tr>
        <td><%= p.address %></td>
        <td><%= p.zipcode %></td>
        <td><%= p.bedrooms %></td>
        <td><%= p.bathrooms %></td>
        <td><%= p.description %></td>
        <td>$<%= p.price %></td>
        <td><%= p.rent %></td>
        <td><%= p.sq_ft %> ft.</td>
        <td><%= p.latitude %></td>
        <td><%= p.longitude %></td>
        <td>
          <a href="/properties/<%= p.id %>/show">View</a>
          <p>
          <% if session[:current_user_id] %>
          <% if @user.agent && @user.id == p.user_id %>
          <a href="/properties/<%= p.id %>">Edit Listing</a>
          <% end %>
          <% end %>
          </p>
          <p>
          <% if session[:current_user_id] %>
          <% if @user.agent && @user.id == p.user_id %>
          <a href="/properties/<%= p.id %>/delete" data-method="delete">Delete</a></p>
          <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
<h3><u>Recent Sales</u></h3>
<div class="house">
  <img class="first" src="/assets/bird.jpg">
  <p>SOLD! $739,000  112 Lake Tahoe, 63819</p>
  <div class="house2">
  <img class="second" src="/assets/waterhouse.jpg">
  <p>SOLD! $130,000 3108 N Atlantic, 60131</p>
  </div>
</div>
<div class="house">
  <img class="first" src="/assets/trailor.jpg">
  <p>SOLD! $689,000  462 Abraham, 93729</p>
  <div class="house2">
  <img class="second" src="/assets/exterior-hills.jpg">
  <p>SOLD! $967,000 3544 N Pupperoni, 60721</p>
  </div>
</div>
<div class="house3">
  <img id="third" src="/assets/treehouse.jpg">
  <p>SOLD! $456,000  311 Ocean, 80273</p>
</div>

<div class="footnote">
<span class="footnote" data-toggle="tooltip">Contact Us</span>
<span class="footnote" data-toggle="tooltip">Comments</span>
<span class="footnote" data-toggle="tooltip">Careers</span>
<span class="footnote" data-toggle="tooltip">About</span>
<span class="footnote" data-toggle="tooltip">Help</span>
<span class="footnote" data-toggle="tooltip">Terms of Use and Privacy</span>
</div>
