<nav>
  <%if session[:current_user_name]%>
  Logged in as <%= session[:current_user_name]%><br />
  <a href="/properties/new">Add a listing</a><br />
  <%end%>
  <a href="/properties">Home</a><br />
  <% if session[:current_user_id]%>
  <a href="/logout">Logout</a><br />
  <%else%>
  <a href="/users">Login/Register</a><br />
  <%end %>
</nav>
<hr />
<a href="/properties/<%= @property.id %>">Edit Listing</a>
<hr>
<h1>$  <%= @property.price %></h1><hr>
<h2>Tiny House Listing : <%= @property.id %></h2>
<p>Address: <%= @property.address %></p>
<p>Zip Code: <%= @property.zipcode %></p>
<hr><hr>
<h3><u>Details on Property</u></h3>
Bedrooms: <%= @property.bedrooms %><br><br>
Bathrooms: <%= @property.bathrooms %><br><br>
Description: <%= @property.description %><br><br>
Square Footage: <%= @property.sq_ft %><br><br>
Rent? <%= @property.rent %>

<style>
  #map {
    height: 200px;
    width: 50%;
   }
</style>
</head>
<div id="map"></div>
<script>
  function initMap() {
    var uluru = {lat: <%= @property.latitude %> , lng: <%=@property.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZcWVqUUdPAc_YeAo9Zna9DFIV8NBXC9M&callback=initMap">
</script>


<% unless @favorited.exists? %>
<h4> <a href="/favorites/<%=@property.id%>">Favorite</a></h4>
<% end %>
<p>Questions? <a href="mailto:<%=@agent.email %>? Subject=I'm interested in a house!">Contact Us!</a> </p>
