<%if session[:current_user_name] && session[:current_user_id] == @agent.id%>
<a href="/properties/<%= @property.id %>">Edit Listing</a>
<% end %>
<hr>

<h1>$  <%= @property.price %></h1><hr>
<h2>Tiny House Listing : <%= @property.id %></h2>
<p>Address: <%= @property.address %></p>
<p>Zip Code: <%= @property.zipcode %></p>
<hr><hr>
<h3><u>Details on Property</u></h3>
Bedrooms: <%= @property.bedrooms %><br><br>
Bathrooms: <%= @property.bathrooms %><br><br>
Description: <%= @property.description %><br><br>
Square Footage: <%= @property.sq_ft %><br><br>
Rent? <%= @property.rent %>
<%= image_tag @property.image.url(:medium)  %>


<% unless @favorited.exists? %>
<h4> <a href="/favorites/<%=@property.id%>">Favorite</a></h4>
<% end %>
<% if session[:current_user_id] != @agent.id%>
<p>Questions? <a href="mailto:<%=@agent.email %>? Subject=I'm interested in a house!">Contact Us!</a> </p>
<form action="/properties" method="post">
  <textarea name="name" rows="8" cols="50"></textarea><br>
  <input type="submit" name="" value="Submit">
</form>
<% end %>
