<!DOCTYPE html>
<html>
<head>
  <title>ZillowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <span class=“error-message”><%= e %> </span>
    <% end %>
  <% end %>
<%= yield %>

</body>
</html>
